<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="fragments :: head"></head>
<body class="container">

<header th:replace="fragments :: header"></header>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description/Comments</th>
        </tr>
    </thead>
    <tr th:each="supply : ${supplies}">
        <td th:text="${supply.id}"></td>
        <td th:text="${supply.name}"></td>
        <td th:text="${supply.description}"></td>
    </tr>
</table>

</body>
</html>